<WorldServerConfig>
  <Address>127.0.0.1</Address>
  <Port>9003</Port>
  <Scripts>scripts/world/</Scripts>
  <ScriptReference>System.dll</ScriptReference>
  <ScriptReference>WoWDaemon.Common.dll</ScriptReference>
  <ScriptReference>WoWDaemon.Database.dll</ScriptReference>
  <ScriptReference>WoWDaemon.WorldServer.dll</ScriptReference>
</WorldServerConfig>